* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    color: #333333;
    overflow-x: hidden;
    background-image: url(../img/2.png);
    padding: 0;
}

.box {
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	width: 940px;
	height: 529.8px;
	margin: auto;
	margin-top: 2.3%;
}

.profile {
	padding: 57px 50px 15px 50px;
}

.profile_picture {
	margin-right: 10%;
	margin-bottom: 10px;
}

.profile_picture img {
	width: 299px;
	
}

.profile_info {
	color: #3d4451;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #dedede;
}

.item {
	margin-bottom: 18px;
}

.profile_name span{
	background-color: #00e676;
	color: #fff;
	font-size: 14px !important;
	font-weight: 700 !important;
	line-height: 1.1;
	display: inline-block;
	padding: 7px 12px !important;
	text-transform: uppercase;
	position: relative;
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

.profile_name span:before {
	content: '';
	width: 0;
	height: 0;
	top: 100%;
	left: 5px;
	display: block;
	position: absolute;
	border-style: solid;
	border-width: 0 0 8px 8px;
	border-color: transparent;
	border-left-color: #00e676;

}

h1 {
	font-size: 36px;
	line-height: 1.1;
	font-weight: 700;
	margin-bottom: 5px;
}

h1 span {
	font-weight: 300;
}

h2 {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.col-xs-7 ul li {
	margin-bottom: 13px;
}

.col-xs-7 ul li strong {
	display: block;
	width: 120px;
	float: left;
	color: #333333;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
}

.col-xs-7 ul li .cont {
	display: block;
	margin-left: 125px;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: #9da0a7;
}

.profile_social {
	background-color: #00e676;
	padding: 15px 0;
}

.profile_social ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.profile_social ul li {
	display: inline-block;
	margin: 5px 15px;
}

.profile_social ul li a {
	line-height: 45px;
	width: 45px;
	height: 45px;
	position: relative;
	display: inline-block;
	background-color: transparent;
	-webkit-transition: -webkit-transition, background-color 0.25s linear 0s;
	-moz-transition: -moz-transition, background-color 0.25s linear 0s;
	transition: transition, background-color 0.25s linear 0s;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #e86767;
	cursor: pointer;
	text-decoration: none;
	-ms-word-break: break-all;
	word-break: break-word;
	word-wrap: break-word;
	border: 0;
	font-family: inherit;
	font-size: 20px;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	color: white;
}

.profile_social ul li a:hover {
	background-color: #69f0ae;
}

.button {
	background-color: #65A830;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	text-transform: none;
	padding: 5px 8px;
	display: inline-block;
	position: relative;
	top: -2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}